<form class="sign-in col-sm-4" action="/session" method="post">
  <h1>Sign In</h1>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email<br>
    <input class='form-control' name="user[email]" type="text"><br>
  </label><br>
  <label>Password<br>
    <input class='form-control' name="user[password]" type="password"><br>
  </label><br>
  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>
