<h4 class="editable" data-title="title"><%= list.escape('title') %></h4>

<div class="cards"></div>
<div class="card-new"></div>
<div class="edit-modal"></div>

<button id="delete_list" class="delete-button btn btn-default"><span class='glyphicon glyphicon-trash'></span></button>
  
  