  <div id='list-title'>
    <label for="list_title">Add a list...</label>
    <input 
      class='form-control'
      type="text" 
      name="list[title]"
      placeholder='list title'
      id="list_title">
  </div>
    <input type="submit" value="Save" class='btn btn-success'>