<form class="sign-in col-sm-3 col-sm-offset-3" action="/users" method="post">
  <h2>Sign Up</h2>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email</label>
    <input 
    class='form-control' 
    name="user[email]" 
    type="text"
    id='password'>
  <label for="password">Password</label>
    <input 
    class='form-control' 
    name="user[password]" 
    type="password"
    id="password">
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
