<h2>My Boards</h2>

<div class="tile-container container">
  <div class="board-tiles row">
    <% collection.each( function (board) { %>
      <a href="#/boards/<%= board.escape('id') %>">
        <div class="board-tile col-sm-3">
          <h4><%= board.escape("title") %></h4>
          <button 
          class="btn btn-default" 
          id="delete_board" 
          data-id='<%= board.id %>'>
          <span class='glyphicon glyphicon-trash'></span>
        </button>
        </div>
      </a>
    <% }); %>
  </div>
</div>

<div class="board-new container"></div>