<h4>Create New Board</h4>
<form class='col-sm-6' action="new_board_submit">
  <label for="board_title">Title</label>
  <input class='form-control' type="text" name="board[title]" id="board_title">
  <input class='btn btn-primary' type="submit" value="Create New Board">
</form>