<h3 class="col-sm-12" ><%= model.escape('title') %></h3>

<div class="row">
  <div class="lists col-sm-3"></div>
</div>

<div class="list-new col-sm-3"></div>

<button class="delete btn btn-warning">Delete board</button>
<a href="">Back to boards index</a>
