<h3 class="col-sm-12" ><%= model.escape('title') %></h3>

<div class="lists-container container">
  <div class="lists row"></div>
  <div class="list-new row"></div>  
</div>

<a class="back-to-index" href="">Back to boards index</a>
