<div class="col-sm-6 card-title">
  <%= card.escape('title') %>
</div>

<div class='card-buttons'>
  <div class='card-delete pull-right'>
    <span class='glyphicon glyphicon-remove'></span>
  </div>
</div>