<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <form class="card-edit-form">
        <div class="modal-body">
          <input type="text" name="card[title]" value="<%= card.title %>">
          <textarea name="card[description]" value="<%= card.description %>" placeholder></textarea>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-primary" value="Save">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->