/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


$blue: #2980b9;
$blue-med: #3390c9;
$blue-dark: #34495e;
$blue-light: #cef;
$gray-soft: #ecf0f1;

$light-purple: #C0A0D4;
$dark-purple: #6F3787;
$green: #41A175;
$sage: #3E8765;
$clouds: #ecf0f1;
$highlighted: #B4C2D4;

//.board-tile {
//  background: $blue;
//  color: #ffffff;
//  height: 100px;
//  width: 23%;
//  margin: 5px;
//}

#main {
  background-color: $light-purple;
}

.list {
  background-color: $clouds;
  padding: 1rem;
  margin: 1rem;
}

.card {
  background-color: white;
  span {
    display: none;
  }
  &:hover {
    background: aliceblue;
    span {
      display: inline;
      color: $dark-purple;
    }
  }
}

.highlighted {
  background-color: $highlighted;
}

.board-clickable {
  color: white;
  width: 100%;
  height: 90px;
  width: 100%;
  text-align: center;
}

.delete {
  margin: 0px;
  padding: 1px;
  float: right;
  color: #4499cc;
  :hover{
    font-size: 108%;
    color: white;
  };
}

.card {
  font-size: 14px;
  background: white;
  color: $blue-med;
  padding: 5px 5px;
  margin: 5px 0px;
}

.card-title {
 margin: 0px 5px; 
 padding: 0;
}

.card-delete {
  margin: 0px;
  padding: 1px;
  float: right;
  color: #eef;
  font-size: 90%;
  height: 10px;
  :hover{
    font-size: 100%;
    color: $blue;
  };
}

.form {
  background: $blue-light;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.new-card-form {
  
}

div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
}