/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

$blue: #2980b9;
$lavender: #C2B9EB;
$forest: #769E75;
$light-purple: #C0A0D4;
$dark-purple: #793C94;
$green: #41A175;
$sage: #3E8765;
$clouds: #ecf0f1;
$highlighted: #B4C2D4;
$asbestos: #7f8c8d;

body {
  background-color: $lavender;
}

.navbar-default {
  background-color: $dark-purple;
  border-color: $dark-purple;
  .navbar-brand {
    color: $clouds;
    font-size: 18pt;
    &:hover, &:focus {
     color: $highlighted; 
    };
  }
  .navbar-nav {
    > li {
      > a {
        color: $clouds;
        &:hover, &:focus {
          color: $highlighted;
        };
      }
    }
  }
  .btn {
    margin-top: .8rem;
  }
  .navbar-link {
    color: $clouds;
    &:hover, &:focus{
      color: $clouds;
    };
  }
}

div {
  border-radius: 3px; 
}

.btn {
  margin: 3px;
}

.form-control {
  margin: 0 0 4px 0;
}

form .sign-up .sign-in {
}