$blue: #2980b9;
$lavender: #C2B9EB;
$forest: #769E75;
$light-purple: #C0A0D4;
$dark-purple: #793C94;
$green: #41A175;
$sage: #3E8765;
$clouds: #ecf0f1;
$highlighted: #B4C2D4;
$asbestos: #7f8c8d;

.list {
  background-color: $clouds;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  vertical-align: top;
  button {
    display: none;
  }
  &:hover {
    button {
      display: inline;
      color: $dark-purple;
    }
  }
}

.dragged {
  transform: rotate(9deg);
}

.new-list-form {
  .btn {
    display: none;
    //    Jquery in bb view toggles the display on input field focus
  }
}

.highlighted {
  background-color: $highlighted;
}

.card {
  font-size: 14px;
  background: white;
  color: $asbestos;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: white;
  span {
    display: none;
  }
  &:hover {
    background: aliceblue;
    span {
      display: inline;
      color: $dark-purple;
    }
  }
}

.card-title {
  padding: 0;
}

.card-delete {
  margin: 0px;
  padding: 1px;
  float: right;
  color: #eef;
  font-size: 90%;
  height: 10px;
  :hover{
    font-size: 100%;
    color: $blue;
  };
}