<h3>Edit</h3>

<form action="list_submit">
  <label for="list_title"><%= list.escape("title") %></label>
  <input type="text" name="list[title]" id="list_title">

  <input type="submit" value="Save">
</form>